*{
    margin: 0;
    padding: 0%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

header {
    display: flex;
    flex: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.scores {
    margin-left: 10px;
}

.timer-container {
    display: flex;
    justify-content: right;
    padding-left: 75%;
}

main {
    margin-top: 50px;
}

.display1{
    text-align: center;
}
