
:root {

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .scores {
    margin-left: 10px;
}
*/
.timer-container {
    margin-right: 20px;

}
main {
    border: 5px solid purple;
    text-align: center;
    padding: 5%;
}
.display1{
    
} 